In [1]:
mtcars["Mazda RX4 Wag", "disp"]

[1] 160

In [2]:
mtcars[["hp"]]

 [1] 110 110  93 110 175 105 245  62  95 123 123 180 180 180 205 215 230  66  52
[20]  65  97 150 150 245 175  66  91 113 264 175 335 109

In [5]:
var<-read.delim("/Users/soumyasharma/Downloads/test.txt")
var

  Index...symbol...color
1 1             A            red
2 2             B            red
3 3             C            red
4 4             D            red
5 5             E            red
6 6             F            red

In [6]:
class(var)

[1] "data.frame"

In [8]:
var = read.table(file="/Users/soumyasharma/Downloads/test.txt",header=TRUE,sep="\t")
var

  Index...symbol...color
1 1             A            red
2 2             B            red
3 3             C            red
4 4             D            red
5 5             E            red
6 6             F            red

In [9]:
mylist=list(sex = c(1,1,1,1,2,2,2,2,2,2), smoking = c(1,0,1,0,1,0,0,0,1,1), age=c(21:30))
mylist

$sex
 [1] 1 1 1 1 2 2 2 2 2 2

$smoking
 [1] 1 0 1 0 1 0 0 0 1 1

$age
 [1] 21 22 23 24 25 26 27 28 29 30

In [13]:
lapply(mylist, function(kk){ kk*2 })

$sex
 [1] 2 2 2 2 4 4 4 4 4 4

$smoking
 [1] 2 0 2 0 2 0 0 0 2 2

$age
 [1] 42 44 46 48 50 52 54 56 58 60

In [11]:
sapply(mylist, min)

    sex smoking     age
      1       0      21

In [12]:
lapply(mylist, min)
sapply(mylist, min)

$sex
[1] 1

$smoking
[1] 0

$age
[1] 21

    sex smoking     age
      1       0      21

In [27]:
zz=matrix(c(c(1,2,NA), c(3,4,5), 6:9), nrow = 2, ncol = 5, byrow = TRUE)
zz
apply(zz,1,sum,na.rm=T) 
apply(zz,2,mean,na.rm=T)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    2    NA   3    4
[2,] 5    6     7   8    9

[1] 10 35

[1] 3.0 4.0 7.0 5.5 6.5

In [28]:
library(dplyr)

In [29]:
b=mtcars[,4:8]
head(b)

                  hp  drat wt    qsec  vs
Mazda RX4         110 3.90 2.620 16.46 0
Mazda RX4 Wag     110 3.90 2.875 17.02 0
Datsun 710         93 3.85 2.320 18.61 1
Hornet 4 Drive    110 3.08 3.215 19.44 1
Hornet Sportabout 175 3.15 3.440 17.02 0
Valiant           105 2.76 3.460 20.22 1

In [30]:
head(select(mtcars,hp:vs))

                  hp  drat wt    qsec  vs
Mazda RX4         110 3.90 2.620 16.46 0
Mazda RX4 Wag     110 3.90 2.875 17.02 0
Datsun 710         93 3.85 2.320 18.61 1
Hornet 4 Drive    110 3.08 3.215 19.44 1
Hornet Sportabout 175 3.15 3.440 17.02 0
Valiant           105 2.76 3.460 20.22 1

In [31]:
mtcars_c=mtcars[mtcars$hp>100,]
head(mtcars_c)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb wt1000
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    2620
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    2875
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    3215
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    3440
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    3460
Duster 360        14.3 8   360  245 3.21 3.570 15.84 0  0  3    4    3570

In [32]:
head(mtcars[order(mtcars$mpg),])

                    mpg  cyl disp hp  drat wt    qsec  vs am gear carb wt1000
Cadillac Fleetwood  10.4 8   472  205 2.93 5.250 17.98 0  0  3    4    5250
Lincoln Continental 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4    5424
Camaro Z28          13.3 8   350  245 3.73 3.840 15.41 0  0  3    4    3840
Duster 360          14.3 8   360  245 3.21 3.570 15.84 0  0  3    4    3570
Chrysler Imperial   14.7 8   440  230 3.23 5.345 17.42 0  0  3    4    5345
Maserati Bora       15.0 8   301  335 3.54 3.570 14.60 0  1  5    8    3570

In [33]:
mtcars$wt1000=mtcars$wt * 1000
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb wt1000
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    2620
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    2875
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    2320
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    3215
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    3440
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    3460